<!-- src/main/resources/templates/fragments/header.html -->

<th:block th:fragment="header_full">
  <header class="site-header">
    <div class="site-header__inner">
      <div></div>

      <div class="site-header__brand">
        <a th:href="@{/home}" aria-label="Eventure">
          <img th:src="@{/img/brand/eventure-logo-light.png}" alt="Eventure" class="brand__logo">
        </a>
      </div>

      <nav class="site-header__actions">
        <a class="btn-chip" th:if="${currentUsername == null}" th:href="@{/login}">Login</a>
        <a class="btn-chip" th:if="${currentUsername == null}" th:href="@{/register}">Registrati</a>

        <span th:if="${currentUsername != null}" class="greeting">
          Ciao,
          <strong th:text="${#strings.contains(currentUsername,'@') 
                    ? #strings.substringBefore(currentUsername,'@') 
                    : currentUsername}">utente</strong>
        </span>

        <a th:if="${isAdmin}" class="btn-chip" th:href="@{/admin}">Dashboard Admin</a>
        <a th:if="${!isAdmin and isAuthenticated}" class="btn-chip" th:href="@{/account}">Il mio profilo</a>

        <form th:if="${currentUsername != null}" th:action="@{/logout}" method="post" class="logout-form">
          <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <button type="submit" class="btn-chip">Logout</button>
        </form>
      </nav>
    </div>
  </header>
</th:block>

<th:block th:fragment="header_logo_logout">
  <header class="site-header">
    <div class="site-header__inner">
      <div></div>

      <!-- HEADER MINIMALE SOLO LINK HOME -->
      <header th:fragment="header_min">
        <div class="topbar" style="padding:12px 16px;">
          <a th:href="@{/}" class="brand" style="text-decoration:none;font-weight:700;">
            Eventure
          </a>
        </div>
      </header>


      <div class="site-header__brand">
        <a th:href="@{/home}" aria-label="Eventure">
          <img th:src="@{/img/brand/eventure-logo-light.png}" alt="Eventure" class="brand__logo">
        </a>
      </div>

      <nav class="site-header__actions">
        <form th:if="${currentUsername != null}" th:action="@{/logout}" method="post" class="logout-form">
          <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <button type="submit" class="btn-chip">Logout</button>
        </form>
      </nav>
    </div>
  </header>
</th:block>