<!-- src/main/resources/templates/admin/eventi.html -->

<!-- PAGINA PUBBLICA EVENTI -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <meta charset="UTF-8">
  <title>Eventure - Gestione Eventi</title>
</head>
<body>
  <!-- Header -->
    <header th:replace="~{fragments/header :: header}"></header>
    
  <h1>Eventi (public)</h1>

  <ul>
    <li th:each="evento : ${eventi}">
      <b th:text="${evento.titolo}">Titolo</b> —
      <span th:text="${evento.citta}">Città</span> —
      <span th:text="${#temporals.format(evento.dataOra, 'dd/MM/yyyy HH:mm')}">Data</span> —
      <span th:text="${evento.categoria}">Categoria</span> —
      <span th:text="${evento.prezzo}">Prezzo</span> €
    </li>
  </ul>
</body>
</html>
