<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
  <meta charset="UTF-8">
  <title>Login - Eventure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav>
    <a th:href="@{/}">Eventure</a>
  </nav>

  <main>
    <!-- Usa <div> al posto di <h2> per evitare i margini di default dei titoli -->
    <div><strong>Login</strong></div>

    <form th:action="@{/login}" method="post">
      <label>Email o Username:</label>
      <input type="text" name="username" placeholder="Inserisci email o username" required>


      <label>Password:</label>
      <input type="password" name="password" placeholder="Inserisci la tua password" required>

      <button type="submit">Accedi</button>
    </form>

    <p>Non hai un account? <a th:href="@{/register}">Registrati</a></p>

    <div th:if="${param.error}">
      <p>Credenziali errate. Riprova.</p>
    </div>

    <p>
      <a href="/oauth2/authorization/google">Accedi con Google</a> |
      <a href="/oauth2/authorization/facebook">Accedi con Facebook</a>
    </p>

  </main>
</body>

</html>