<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione - Eventure</title>
</head>
<body>

    <!-- Header -->
    <header th:replace="~{fragments/header :: header}"></header>
    
    <h2>Registrazione nuovo utente</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Username:</label><br>
        <input type="text" th:field="*{username}" required/><br><br>

        <label>Email:</label><br>
        <input type="email" th:field="*{email}" required/><br><br>

        <label>Password:</label><br>
        <input type="password" th:field="*{password}" required/><br><br>

        <button type="submit">Registrati</button>
    </form>

    <p>Hai già un account? <a th:href="@{/login}">Accedi</a></p>
</body>
</html>
